/*.chart div{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

body{
  display: flex;
  margin: 0px;
}

.chart{
  width: calc(100vw - 300px);
  height: 99vh;
}

.SideBar{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 99vh;
}

.chart{
  color: white;
}

.Title{
  font-size: 30px;
  font-family: 'Merriweather', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

button{
  margin: auto;
}

.toolTip{
  position: absolute;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  background: white;
}

circle{
  /*fill: white;*/
}

.main-body{
  display: flex;
  height: calc(100vh - 48px);
  width: calc(100vw - 300px);
  margin: 20px;
}

.x path{
  display: none;
}
