/*.chart div{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

.full-page{
  display: flex;
  width: 95vw;
  height: 95vh;
}

.SideBar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  width: 240px;
  border: 1px solid black;
}

.tooltip{
  position: absolute;
  width: 60px;
  height: 20px;
  font: 12px sans-serif;
  color: white;
  background: black;
  text-align: center;
  pointer-events: none !important
}

.Title{
  font-size: 30px;
  font-family: 'Merriweather', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.button{
  margin: auto;
  width: 30px;
  height: 30px;
}

.main-body{
  display: flex;
  height: calc(100vh - 48px);
  width: calc(100vw - 300px);
  margin: 20px;
}

.chart{
  width: inherit;
  height: inherit;
}

.chart rect{
  fill: steelblue;
}

/*.bar{
  fill: steelblue;
}*/

/*.bar:hover{
  fill: brown;
  pointer-events: none !important
}*/

.x path{
  display: none;
}

.chart text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis path
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
